---
layout: base.njk
title: Обо мне
permalink: /about/index.html
---

<section class="pageHead">
  <a class="back" href="/">← На главную</a>
  <h1 class="pageTitle">Обо мне</h1>
</section>

<section class="paper">
  <p class="lead">Добро пожаловать! Здесь можно разместить информацию о стаже, образовании, подходах к работе и фото.</p>
  <ul class="list">
    <li>Стаж работы: 25+ лет</li>
    <li>Направления: развитие речи, творчество, социально-коммуникативное развитие</li>
    <li>Контакты: (добавьте телефон/почту при необходимости)</li>
  </ul>
</section>
