---
layout: layouts/section.njk
title: Достижения
subtitle: Грамоты и профессиональные успехи
intro: Сертификаты, благодарности, участие в мероприятиях.
pagination:
  data: collections.achievements
  size: 999
  alias: items
permalink: /achievements/index.html
---
