---
layout: section.njk
title: Мир детства
subtitle: Стихи, музыка, мультфильмы
intro: Подборки для досуга и развития детей.
pagination:
  data: collections.childhood
  size: 999
  alias: items
permalink: /childhood/index.html
---
