---
layout: layouts/section.njk
title: Достижения детей
subtitle: Грамоты, конкурсы, фотоотчёты
intro: Материалы о успехах воспитанников.
pagination:
  data: collections.kids
  size: 999
  alias: items
permalink: /kids/index.html
---
