---
layout: section.njk
title: Методическая копилка
subtitle: Карточки, планы, разработки
intro: Сборник материалов для работы в группе и дома.
pagination:
  data: collections.method
  size: 999
  alias: items
permalink: /method/index.html
---
