---
layout: section.njk
title: Разное
subtitle: Полезные ссылки и заметки
intro: Различные материалы, которые не вошли в другие разделы.
pagination:
  data: collections.misc
  size: 999
  alias: items
permalink: /misc/index.html
---
