---
layout: section.njk
title: Родителям
subtitle: Памятки, рекомендации, полезные материалы
intro: Здесь будут советы, режим дня, памятки по безопасности и развитие ребёнка.
pagination:
  data: collections.parents
  size: 999
  alias: items
permalink: /parents/index.html
---
