---
layout: section.njk
title: Педагогам
subtitle: Методические материалы и обмен опытом
intro: Конспекты занятий, консультации, презентации и наработки.
pagination:
  data: collections.teachers
  size: 999
  alias: items
permalink: /teachers/index.html
---
